$primary-color: #e63946;
$secondary-color: #333;
$light-gray: #f4f4f4;
$white: #fff;
$font-color: #444;
$blue-filter: brightness(0) saturate(100%) invert(56%) sepia(87%) saturate(6640%) hue-rotate(199deg) brightness(105%) contrast(103%);


$main-size: 56;
$second-number-size: 24;
$blue-text-size: 36;
$about-text-size: 20;
$cereals-text-size: 28;
$news-main-text-size: 30;
$news-second-text-size: 16;
$copyright-text-size: 16;

$regular: 400;
$semibold: 600;

$mobile-width: 595px;
$tablet-width: 788px;
$desktop-width: 1200px;

$element-gap: 40;
