@import "../utils/base";

.about-us{
  .container{
    padding: 40px 15px !important;
    h2{
      font-size: 48px;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      font-size: 20px;
      margin-bottom: 30px;
    }


  }
}

